$fsText:min(5vw,20px);
$fsTextSmall:min(4vw,18px);
$themeLight:#1ed28c;
$theme:rgb(25, 180, 120);
$themeDark:#149664;
$light:rgb(250,250,250);
$dark:#5a5a5a;
$darkDark:rgb(51, 51, 51);


*{margin: 0;padding: 0};

header{
    .navbar{background: $theme;}
    .brandName{
        display: flex;align-items: center;
        font-weight: bold;
        .brandN1,.brandN3{font-size: 25px;}
        .brandN2{font-size: 35px;color: white;};
        img{height: 40px;margin-right: 2px;}
    }
}

main{min-height: 86.5vh;padding-bottom: 1rem;background: white;}
body{background: $darkDark}

.customise{background:$themeDark;padding: 1rem;
    margin-bottom: 1.5rem;box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    .searchBar{input{font-size: 1.5rem;padding: 0.2rem 2rem;min-width: 300px}};
    .filterSearch{display: flex;align-items: center;img{height: 30px;margin-right: 5px}};
    .rowA,.rowB{width: min(650px,90vw);};
    .accordion{margin: 10px 5px};
    .accordion-button{padding: 0.2rem 1rem;
        color: rgb(37, 37, 37);display: flex;
        img{height: 25px};
    &:active,&:focus{background: $themeLight;outline: none;border: none}}};
    .budgetInput{width: 220%;}
    .showFavourites{border: none;margin-left: 0.3rem;
        padding: 0.3rem 1rem;font-size: $fsText;background: white;border-radius: 0.2rem;text-wrap: nowrap;
        img{height: 25px;margin-right:1%;position: relative;top: -2px ;}}
    .showFav{background: $themeLight;}
    .hideFav{}

.Previews{
    display: flex;gap: 1rem;flex-wrap: wrap;
    .noResult{font-weight: bold;font-size: 1.4rem;}
}
.carCard{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: min(80vw,300px);
    aspect-ratio: 3/4;
    border-radius: 0rem;
    background: $light;border: solid $theme;
    .carTitle{margin-bottom: -30px;text-shadow: 0 0 0.5rem $theme;}
   .cardTop{
        display: flex;align-items: center;justify-content: space-between;background: $theme;padding: 0 4%;min-height: 7%;
        p{margin: 0;font-size: $fsTextSmall;}
   }
    .favouriteBtn{
        border: none;font-size: 35px;background: none;z-index: 2;
        img{width: 30px;position: relative;top:-5px;};
        &:active{transform: scale(0.9);};
    }
    .card-body{
        display:flex;flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .carPreview{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-height: 60%;
        &:hover{img{transform: scale(1.2);transition: transform 0.2s ease;z-index: -1;}}
        /* background: rgb(255, 255, 255); */
            .carType{position: absolute;left: 3%;top: 2%;
                    background: $theme;border-radius: 0.2rem;padding: 0.1rem 1rem;margin: 0;opacity: 1;box-shadow: 0 0 0.2rem inset black};z-index: 2;
            img{width: 100%;max-height: 150%;}}
    .info{
        text-align: start;margin: 0 5% 1%;
        justify-self: end;align-self: flex-start;
        p{margin: 0;}
        .carPrice{font-weight: bold;margin: 0;;}
    }
    .viewCarBtn{
        background: $theme;
        margin: 0 0 10px;
        width: 50%;
        }    
    }

    .footer{
        padding: 1rem;
        color: white;
        background: $darkDark;
        p{margin: 0;}
    }
.plans{
    background: $themeDark;
    .periodBtn{
        color: black;font-weight: bold;width: 10rem;background: rgba(0, 0, 0, 0.12);
    }

    .tab-pane{outline: solid rgba(255, 255, 255, 0.384) 0.1rem;outline-offset: -0.1rem;padding-bottom: 0.3rem;}

    .periodBody{padding: 0 1.5rem;
        .inputPair{width: 50px;display:none;}}
}

.rentInfo{
    .totalFloat{height:fit-content;display: flex;align-items: center;justify-content: center;background: $themeLight;padding: 0.2rem 1rem 0.5rem;font-weight:600;line-height: 1.5rem;top: 5rem;right: 1rem;box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);.rentTotal{margin: 0;font-size: min(1.6rem,6vw);strong{font-size: min(1.9rem,6vw);font-weight: 600;}}.rentWas,.rentDiscount{margin: 0 1rem 0;opacity: 0.7;};
        
    }

    .vehicleData{width: 100%;}
    .carImages{
        background: $theme;
        padding: 0.3rem;
        width: min(500px,100vw);
        min-width: 35%;
        .mainReview{
            background: white;
            width: min(100%);
            aspect-ratio: 5/3.75;
            margin-bottom: 0.7%;
            display: flex;
            overflow: hidden;
            align-items: center;
            &:hover{img{transform: scale(1.2);transition: transform 0.2s ease;}}
            .mainPic{
                width: 100%;
            }
        }
        .subImages{
            display: flex;
            justify-content: space-around;
            width: min(100%);
            .subPic{
                background: white;
            width: min(32.5%);
            }
        }
    }
    .carInfo{
        width:100%;
        border:  solid $theme 0.3rem;background: $theme;
        color: white;
        .infoTittle{background: $themeDark;padding: 0.2rem 1rem;}
        .carSpecs{
            p{margin: 0;}
        }
    }
    .backBtnRent{
        display: flex;flex-wrap: nowrap;align-items: center;justify-content: space-between;padding: 0 2rem;width: fit-content;gap: 1rem;font-size: 1.2rem;
        .backImgRent{height: 27px;opacity: 0.9;filter: invert(1);}   
    }
    .rentImgStore{height:30px;margin-right: 0.6rem;}

}


.modal-dialog{width: 90vw;}
.modal-content{width: 90vw;}

.donePage{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .completed{
        font-weight: bold;
        display: flex;align-items: center;gap: 0.6rem;
        img{width: min(80px,12vw);}
    }
    .infoDone{text-wrap: wrap;text-align: center;}
    .backBtn{border: none;background: $theme;padding: 0.2rem 4rem;border-radius: 3rem;font-weight: bold;color:white;text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
    &:active{transform: scale(0.9);transition: all 0.2s;}}
}

.btnAnim:active{transform: scale(0.97);transition: all 0.15s;}

@media (min-width:768px){
            .totalFloat{border-radius: 1rem;gap: 0rem;position: fixed;.rentWas,.rentDiscount{overflow: visible;}}
        }


